/* Base styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-nav {
    position: relative;
}

/* Calendar styles */
.calendar {
    width: 100%;
    max-width: 90%;
    height: 100%;
    margin: 2vh auto;
    text-align: center;
    border: 2px solid black;
}

.calendar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 400px;
    padding: 0 10px;
}

.calendar-header {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
}

.calendar-days,
.days-container>div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #f1f1f1;
}

.calendar-days>div:hover,
.calendar-day:hover {
    background-color: #B599CE;
}

.calendar-day {
    cursor: pointer;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    min-height: 22vh;
}

/* Event styles */
.event {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.4;
    border: none;
    max-width: 100%;
    align-items: stretch;
}

.event p {
    margin: 0;
    font-weight: bold;
    text-align: left;
}

.event>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 6px;
    padding-top: 4px;
    padding-left: 5px;
}

/* Button styles */
.button-group {
    position: relative;
}

.edit-btn,
.delete-btn {
    font-size: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: black;
    background-color: #ccc;
    height: 20px;
}

/* Form styles */
.form {
    background-color: white;
    display: none;
    position: fixed;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border: 3px solid black;
    box-sizing: border-box;
}

.form-container {
    padding: 10px;
    background-color: white;
}

#form-title {
    margin-bottom: 3vh;
    text-align: center;
}

/* Data control styles */
.data-controls {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data-controls button,
.custom-file-upload {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin: 4px;
}

/* Media Queries */
@media (max-width: 768px) {
    .main-header {
        text-align: center;
    }

    .main-nav {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        margin: 0;
    }

    .calendar-container {
        max-width: 90%;
        max-height: 50%;
    }

    .calendar-day {
        max-height: 2vh;
    }

    .data-controls button {
        width: 50%;
    }

    .event p {
        font-size: 0.75em;
    }
}
